.AppWrapper {
    margin: 0;
    padding: 0;
  
}
.AppMain {
    height: 480px;
    margin: 0;
    padding: .5rem 1.5rem;
   
}

.ImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    
}

.CookingImg{
    
    
    border-radius: 100%;
    
}

.Header {
    margin: 0;
    padding: .5rem 2rem;
    height: 100%;
    max-height: 50px;
    background: #f582ae;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: background-color .5s ease-out;
    -ms-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.themeBtn{
    border: none;
    font-size: 30px;
    background: none;
    color: #232946;
    cursor: pointer;
}


.SearchBarWrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 3rem auto;
}

.searchBox {

    width: 100%;
    max-width: 300px;
    height: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fef6e4;
    border-radius: 30px;
    border-bottom: 3px solid #f582ae;
    display: flex;
    justify-content: center;
    align-items: center;


}

.searchBar {
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 20px;

    color: black;
    background-color: #fef6e4;

    font-size: 20px;
    font-weight: 200;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}
