@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro',
  monospace;


}

a {
  text-decoration: none;
  color: inherit;

  font-size: small;

}

a:hover {
  text-decoration: none;
  color: inherit;
}
